*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg,#d82bfb,#6f25d6,#5e16c3,#2912a9,#1a0883); */
    background-color: #01305f;
    background-image: 
        radial-gradient(circle at 50% 80%, rgba(249, 135, 43, 0.903)  3%, transparent 30%),
        radial-gradient(circle at 53% 88%, rgba(34, 232, 183, 0.879)  0%, transparent 20%),
        radial-gradient(circle at 22% 45%, rgba(18, 172, 207, 0.708) 5%, transparent 30%),
        radial-gradient(circle at 80% 80%, rgba(251, 219, 59, 0.871) 0%, transparent 30%);
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    
}
/* .body::-webkit-scrollbar{
    display: none;
} */
.heading{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
     }
    70% {
        transform: translateY(10%);
     }
     100%{
        transform: translateY(0);
     }
}
.navbar{
    width: 950px;
    height: 30px;
    z-index: 1000;
    box-shadow:inset 1px 1px 200px rgba(123, 122, 122, 0.355),5px 5px 20px rgb(6, 72, 102);
    background: transparent;
    border: 1px solid rgba(203, 198, 205, 0.723);
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    animation: slideDown 1s ease-out;
    position: fixed;
}

.logo{
    font-size: 35px;
    text-decoration: none;
    background: linear-gradient(45deg,rgb(249, 71, 17),orange,white,rgb(23, 242, 23));
    -webkit-background-clip: text;
    color: transparent;
    
    
}
.tabs{
    color: white;
    text-decoration: none;
    font-size: 23px;
    transition: all 0.3s ease-in;
    position: relative;
}
.tabs::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,rgb(246, 18, 174),rgb(244, 44, 247),rgb(28, 167, 247) );
    transition: 0.3s;
    transition-timing-function: ease-in;
    transform: scaleX(0);
    transform-origin: left;
}
.tabs:hover{
    color: aqua;
}
.tabs:hover::after{
    transform: scaleX(100%);
}

.body-p1{
    width: 100%;
    height: 300px;
    margin: 0px 20px 20px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
#body-p1-l1{
    font-size: 120px;
    /* border: 5px solid black;
    -webkit-background-clip: text; */
    /* text-shadow: 5px 5px 0px black; */
    background: linear-gradient(45deg,#FF5555,#FF937E,#C1E59F,#A3D78A);
    color: transparent;
    -webkit-background-clip: text;
    /* -webkit-text-stroke: 2px rgba(0, 0, 0, 0.604); */
}
#body-p1-l2{
    font-size: 35px;
    color: aqua;
    text-shadow: 3px 3px 10px black;
}
.text{
    animation: slideup 0.5s ease-out;
}
@keyframes slideup{
    from{
        transform: translateY(30%);
    }
    to{
        transform: translateY(0);
    }
}
.body-p2{
    width: 100%;
    height: 550px;
    margin: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.arrow{
    font-size: 30px;
    color: rgb(213, 208, 208);
}
.char-momvent{
    width: 450px;
    height: 550px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    
}
.char-momvent::-webkit-scrollbar{
    display: none;
}
@keyframes spin{
    0% {
        translate: 0;
    }
    10% {
        translate: -10%;
    }
    20%{
        translate: -20%;
    }
    30% {
        translate: -30%;
    }
    40%{
        translate: -40%;
    }
    50% {
        translate: -50%;
    }
    60%{
        translate: -60%;
    }
    70% {
        translate: -70%;
    }
    80%{
        translate: -80%;
    }
    90% {
        translate: -90%;
    }
    100%{
        translate: -100%;
    }
}

.box-area{
    display: flex;
    justify-content: center;
    animation: spin 60s ease-in-out infinite;
    
}
.box{
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column-reverse;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    gap: 5px;
}
.box img{
    width: 450px;
    height: 80%;
    object-fit: contain;
    /* display: flex;
    justify-content: center; */
    
}
#upscale-logo{
    scale: 2;
}
.anime-logo{
    width: 100%;
    height: 70px;
    scale: 1.2;
}

.box1{
    background: linear-gradient(45deg,#FF0066,#6A0066,#934790,#E8D4B7);
    /* border-top-left-radius: 40%;
    border-top-right-radius: 40%; */
}
.box2{
    background: linear-gradient(45deg,#F075AE,#F7DB91,#FFFDCE,#9BC264);
    /* border-top-left-radius: 40%;
    border-top-right-radius: 40%; */
}
.box3{
    background: linear-gradient(45deg,#3F9AAE,#79C9C5,#FFE2AF,#F96E5B);
    /* border-top-left-radius: 40%;
    border-top-right-radius: 40%; */
}
.box4{
    background: linear-gradient(45deg,#F875AA,#FDEDED,#EDFFF0,#93cff5);
}
.box5{
    background: linear-gradient(45deg,#EFECE3,#8FABD4,#4A70A9,#000000);
}
.box6{
    background: linear-gradient(45deg,#FFF58A,#fea1d6,#ea6bf0,#9462ef);
}
.box7{
    background: linear-gradient(45deg,#F5F5F0,#E6D8C3,#C2A68C,#5D866C);
}
.box8{
    background: linear-gradient(45deg,#ECFAE5,#DDF6D2,#CAE8BD,#B0DB9C);
}
.box9{
    background: linear-gradient(45deg,#4DA8DA,#80D8C3,#FFD66B,#F5F5F5);
}
.box10{
    background: linear-gradient(45deg,#FCEF91,#FB9E3A,#E6521F,#EA2F14);
}
.body-p3{
    width: 100%;
    height: 300px;
    background-color: #2424244d;
}
.b-p3-s1{
    width: 100%;
    
    padding: 20px;

}
#s2-heading{
    font-size: 35px;
    text-align: center;
    position: relative;
    color: aqua;
}
#s2-heading::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 4px;
    background: linear-gradient(90deg, transparent, rgb(242, 0, 0), transparent);
}
.b-p3-s2{
    display: flex;
    padding: 15px 50px 30px 50px;
    justify-content: space-around;
}
.series{
    width: 100%;
    height: 100%;
    text-decoration: none;
    
}
.main-box{
    width: 250px;
    height: 180px;
    background-color: #96969617;
    outline: 1px solid rgba(217, 216, 216, 0.355) ;
    border-radius: 15px;
    display: flex;
    transition: all 0.4s linear;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
.main-box::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 170px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(242, 0, 0, 0.484), transparent);
    transform: translateX(-100%);
    transform-origin: left;
    transition: 0.3s ;
    transition-timing-function: ease-in;
    
}
.main-box:hover::after{
    transform: translateX(150%);
    
}

.main-box:hover{
    outline: 2px solid red;
    box-shadow: 5px 5px 50px rgba(255, 0, 0, 0.423);
    scale: calc(1.1);
    
    
}
.emoji{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    animation: updown 2s ease-out infinite;
}
@keyframes updown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.b-p3-s2-l1{
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 221, 0);
}
.b-p3-s2-l2{
    width: 100%;
    height: 25%;
    text-align: center;
    color: #2efffc;
}
.body-p4{
    width: 100%;
    height: 500px;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #05254d6c;
    border-top: 3px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
}
.footer-part1{
    display: flex;
    justify-content: space-around;
}

.footer-section{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h2{
    color: rgb(241, 19, 222);
}
.social-links{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}
.social-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(45deg,#15173D,#982598,#E491C9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon:hover{
    animation: updown 1s ease-out;
}
.my-links{
    text-decoration: none;
    color: #F1E9E9;
    font-size: 30px;
}
.my-links:hover{
    animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}
.links{
    text-decoration: none;
    color: #2efffc;
}
.footer-part2{
    margin-top: 50px;
    width: 360px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    font-size: 28px;
    gap: 2px;
    background: linear-gradient(90deg,rgb(255, 254, 254),rgb(206, 203, 203));
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Dancing Script','cursive';
}
.fa-heart{
    color: rgb(255, 42, 0);
}
#characterhtml{
    
    text-align: center;
    color: transparent ;
    background: linear-gradient(45deg,#18cba4,#ebef15,#c42fe5,#e9108f);
    -webkit-background-clip: text;
    font-size: 60px;
    
}
